.score-row {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.score-high-risk {
  background-color: orange;
}

.score-low-risk {
  background-color: greenyellow;
}

.questionnaire-row {
  padding-bottom: 0;
}

.score-info-row {
  color: darkgray;
}

.no-padding {
  // background-color: lightblue;
  padding-left: 0;
  padding-right: 0;
}
