<div *ngIf='questionnaire' class="container">

    <!-- Instructions -->
    <div *ngIf='score !== undefined && score >= 8' class='row score-row score-high-risk'>
        <div class='col'>
            <b>The patient is at HIGH risk of renal injury because Renal Angina index score is {{score}}.</b>

            <p>KDIGO Guidelines recommend:</p>
            <ul>
                <li>Order daily creatine over the next 3 days</li>
                <li>Monitor fluid status closely and maintain euvolemia</li>
                <li>Review medication for renal-dose adjustment opportunities</li>
            </ul>
        </div>
    </div>

    <div *ngIf='score !== undefined && score < 8' class='row score-row score-low-risk'>
        <div class='col'>
            <b>The patient is at LOW risk of renal injury because Renal Angina index score is {{score}}.</b>

            <p>KDIGO Guidelines recommend:</p>
            <ul>
                <li>Continue routine monitoring</li>
            </ul>
        </div>
    </div>

    <!-- Questionnaire -->
    <div class="row questionnaire-row">
        <div class="col no-padding">

            <!-- Questions -->
            <div class="row no-padding">
                <div class="col">
                    <app-question-form [questionnaire]='questionnaire' (formChange)='handleOnFormChange($event)'>
                    </app-question-form>
                </div>
            </div>

        </div>
    </div>

    <!-- Score -->
    <div class="row score-info-row">
        <div class="col">
            <p>RAI scores range from 1 to 40. A cutoff of ≥ 8 is used to determine high risk for
                renal injury.
        </div>
    </div>

</div>