<div class='row' *ngIf='question' ngModelGroup="{{modelGroupName}}">

    <div class="col-sm">
        <p>{{question.text}}</p>
    </div>

    <!-- DECIMAL -->
    <div class='col-sm' *ngIf="question.type === 'decimal'">
        <input class='decimal-input' [placeholder]="question.value || ''" [name]="question.text" ngModel>
    </div>

    <!-- BOOLEAN -->
    <div class='col-sm' *ngIf="question.type === 'boolean'">
        <div class="btn-group btn-group-toggle special" ngbRadioGroup name="radioBoolean" ngModel>
            <label ngbButtonLabel class="btn btn-light">
                <input ngbButton type="radio" [value]="0"> No
            </label>
            <label ngbButtonLabel class="btn btn-light">
                <input ngbButton type="radio" value="1"> Yes
            </label>
        </div>
    </div>

    <!-- CHOICE -->
    <div class='col-sm' *ngIf="question.type === 'choice'" ngbRadioGroup name="radioMulti" ngModel>
        <div class='btn-group-vertical btn-group-toggle special'>
            <label *ngFor="let choice of question.choices; let i = index" ngbButtonLabel class="btn btn-light">
                <input ngbButton type="radio" [value]="choice">{{choice}}
            </label>

        </div>
    </div>

</div>


<!-- ------------------------------- -->
<!-- <button class="btn btn-outline-primary" ngbDropdownToggle>{{question.text}}</button>
    <div ngbDropdownMenu>
        <button ngbDropdownItem *ngFor="let choice of question.choices; let i = index">{{choice}}</button>
    </div> -->