.col {
  margin: 0;
  padding: 0;
}

.btn-light:active,
.btn-light:visited,
.btn-light:active:focus {
  background-color: rgb(17, 125, 103) !important;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  background-color: rgb(27, 177, 147) !important;
  color: white;
}

// Make button group expand to fill parent
.btn-group.special,
.btn-group-vertical.special {
  display: flex;
}

.special .btn {
  flex: 1;
}

.decimal-input {
  width: 100%;
}
