<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-sm navbar-dark unique-color" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a href="/home" class="navbar-brand" placement="bottom">{{title}}</a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <!-- Dropdown -->
            <li *ngIf='recentPatients' class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    Recent Patients<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a *ngFor="let patient of recentPatients; let i = index" class="dropdown-item waves-light"
                        mdbWavesEffect [href]="patientLink(patient)">{{patientName(patient)}}</a>
                </div>
            </li>
        </ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->