<form *ngIf='questionnaire' #form="ngForm">
    <div class='container' class='form-container'>

        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Questionnaire</th>
                    <!-- <th scope="col">Data source</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let question of questionnaire.items; let i = index">

                    <!-- col-1 'Questionnaire' -->
                    <td [ngClass]="{'borderless' : isQuestionTypeLabel(question)}">
                        <app-question-item [modelGroupName]="question.id" [question]='question'
                            style='border: none !important'></app-question-item>
                    </td>
                    <!-- col-2 'Data source' -->
                    <!-- <td [ngClass]="{'borderless' : isQuestionTypeLabel(question)}">
                        <app-question-item-detail [question]='question'></app-question-item-detail>
                    </td> -->
                </tr>
            </tbody>
        </table>

    </div>
</form>