<!--Navbar-->
<mdb-navbar *ngIf='patient' SideClass="navbar navbar-light" [containerInside]="false">

    <!-- Navbar brand -->
    <!-- <mdb-navbar-brand>{{patientName(patient)}}</mdb-navbar-brand> -->

    <mdb-navbar-brand class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>
            <mdb-icon fas icon="user"></mdb-icon> {{patientName(patient)}}
        </a>
    </mdb-navbar-brand>


</mdb-navbar>
<!--/.Navbar-->