<div *ngIf='question' class='container'>
    <div class='row'>

        <!-- Icon -->
        <div class='col-auto icon-div' [ngClass]='confidenceColorClass()'>
            <svg class="bi" width="32" height="32" fill="currentColor">
                <use attr.xlink:href="{{'/assets/bootstrap-icons.svg#' + confidenceIconName() }}" />
            </svg>
        </div>

        <!-- Label -->
        <div class='col-auto'>
            <p>{{question.source}}</p>
        </div>

        <!-- Last modified -->
        <div class='col-auto'>
            <p *ngIf='question.lastModified' class='last-modified-p'>{{lastModifiedDateTime()}}</p>
        </div>


    </div>
</div>

<!-- --------------------------------- -->
<!-- <p *ngIf='question.lastModified' class='last-modified-p'>{{lastModifiedHoursAgo() + ' hours ago'}}</p> -->