.col-auto {
  margin-left: 1vw;
  padding: 0;
}

.btn-confidence-high {
  color: rgb(27, 177, 147);
}

.btn-confidence-medium {
  color: rgb(177, 85, 27);
}

.btn-confidence-low {
  color: rgb(177, 27, 27);
}

.last-modified-p {
  color: gray;
}
