<div class='container'>
    <div class='row'>

        <!-- Risk -->
        <div class='col'>
            <div class='row'>
                <h3>{{risk}}</h3>
            </div>
            <div class='row'>
                <p>Risk of kidney injury</p>
            </div>
        </div>

        <!-- Points -->
        <div class='col'>
            <div class='row points-row'>
                <h3>{{score}}
                </h3>
                <p>points</p>
            </div>
            <div class='row'>Score of 8 or above</div>
        </div>
    </div>

    <!-- Scoring Information -->
    <div class='row'>
        <p>The possible RAI scores range from 1 to 40. A cutoff of ≥ 8 is used to determine high risk for renal injury.
        </p>
    </div>

</div>