.container {
  background-color: rgb(17, 69, 125);
  color: white;
}

.col {
  margin-left: 15px;
  margin-right: 15px;
}

h3 span {
  display: inline;
}

.points-row > h3,
.points-row > p {
  display: inline-block;
  vertical-align: bottom;
  margin-top: auto;
  margin-bottom: 0.5rem;
}

.points-row > p {
  margin-left: 0.2vw;
}

.instructions-col {
  margin-left: 0.2vw;
}
