.col {
  margin: 0;
  padding: 0;
}

.btn-light:active,
.btn-light:visited,
.btn-light:active:focus {
  background-color: rgb(17, 69, 125);
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  background-color: rgb(27, 69, 125);
  color: white;
}

// Make button group expand to fill parent
.btn-group.special,
.btn-group-vertical.special {
  display: flex;
}

.special .btn {
  flex: 1;
}

.decimal-unit-input {
  margin-left: 1.5vw;
  min-width: 4vw;
  flex: 1;
}

.decimal-unit-p {
  width: 5vw;
  margin-left: 0.5vw;
}

.borderless td,
.borderless th {
  border: none;
}
