<div class='row' *ngIf='question' ngModelGroup="{{modelGroupName}}">

    <div class="col-sm-6">
        <p>{{question.text}}</p>
    </div>

    <!-- LABEL -->
    <div class='col-sm' *ngIf="question.type === 'label'">
        <!-- empty 2nd column -->
    </div>

    <!-- DECIMAL -->
    <div class='col-sm' *ngIf="question.type === 'decimal'">
        <div class='row row justify-content-end'>
            <input class='decimal-unit-input' [placeholder]="question.value || ''" name="formResponse"
                [(ngModel)]='question.value'>
            <p *ngIf='question.units' class='decimal-unit-p'>{{question.units}}</p>
        </div>
    </div>

    <!-- BOOLEAN -->
    <!-- see: https://mdbootstrap.com/support/angular/mdbradio-button-issue/ -->
    <div class='col-sm' *ngIf="question.type === 'boolean'">
        <div class="btn-group special btn-group-toggle">

            <label class="btn btn-light"
                [ngClass]="{ 'active': question.value === 'false' || question.value === false }">
                <input type="radio" name="formResponse" value="false" [(ngModel)]='question.value'>No
            </label>

            <label class="btn btn-light" [ngClass]="{ 'active': question.value === 'true' || question.value === true }">
                <input type="radio" name="formResponse" value="true" [(ngModel)]='question.value'>Yes
            </label>
        </div>
    </div>


    <!-- 
        <div class="btn-group btn-group-toggle special shadow-0" role="group" data-toggle="buttons">

            <label class="btn btn-sm btn-primary form-check-label">
                <input class="form-check-input" type="radio" value="false" autocomplete="off">No
            </label>

        </div> -->

    <!-- <label mdbBtn mdbRadio="false" value="false" mdbWavesEffect>No</label>
            <label mdbBtn mdbRadio="true" value="true" mdbWavesEffect>Yes</label> -->

    <!-- <button type="button" class="btn btn-outline-primary">No</button> -->
    <!-- <button type="button" class="btn btn-outline-primary" [value]="true">Yes</button> -->
    <!-- <div class="btn-group btn-group-toggle special" ngbRadioGroup name="formResponse" [(ngModel)]='question.value'>
            <label ngbButtonLabel class="btn btn-light">
                <input ngbButton type="radio" [value]="false"> No
            </label>
            <label ngbButtonLabel class="btn btn-light">
                <input ngbButton type="radio" [value]="true"> Yes
            </label>
        </div> -->

    <!-- CHOICE -->
    <div class='col-sm' *ngIf="question.type === 'choice'" ngbRadioGroup name="formResponse"
        [(ngModel)]='question.value'>
        <div class='btn-group-vertical btn-group-toggle special'>
            <label *ngFor="let choice of question.choices; let i = index" ngbButtonLabel class="btn btn-light">
                <input ngbButton type="radio" [value]="i">{{choice}}
            </label>
        </div>
    </div>

</div>

<!-- ------------------------------- -->
<!-- <button class="btn btn-outline-primary" ngbDropdownToggle>{{question.text}}</button>
        <div ngbDropdownMenu>
            <button ngbDropdownItem *ngFor="let choice of question.choices; let i = index">{{choice}}</button>
        </div> -->